body {
    background-color: #F1E9D2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Satoshi', sans-serif;
}

h1 {
    text-align: center;
    color: #eb5600;
    font-size: 8rem;
    padding: 0;
    margin: 0;
}

form {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

label {
    display: block;
}

input[type="email"] {
    width: 10%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(0, 0, 0, 1);
    outline:
}

button {
    background: #3D909D;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(0, 0, 0, 1);
}

button:hover {
    background: #5bb0bd;
}